.markdown-section p.warn{
  background: gba($color-primary, 0.1);
  border-radius: 2px;
  padding: 1rem;
}

.markdown-section p.tip::before {
  background-color: rgb(102, 156, 255);
  border-radius: 100%;
  color: #fff;
  content: "!";
  font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}

.markdown-section p.tip{
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid rgb(102, 255, 135);
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}

